*{
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    height: 100px;
    width: 100px;
    background-color: yellow;
    border: 1px solid black;
    margin: 5px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rigth{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
